{
  "swagger": "2.0",
  "info": {
    "description": "This is the description of the AMPAREX Rest API. All REST calls plus the corresponding data model are described in this documentation. Direct calls to the server are possible over this page.&lt;br/&gt;Following steps are needed to use the API:&lt;br/&gt;&lt;br/&gt;1. Get the alias identifier of your login account from AMPAREX Software (Branch office administration) -&gt; Service accounts -&gt; your service account -&gt; copy alias token)&lt;br/&gt;2. Please use the login URL /alias/{alias}/login under section \"Login\" below with your credentials to get a valid bearer token.&lt;br/&gt;3. Copy bearer token from login response&lt;br/&gt;3. Then click \"Authorize\" on the top of this page&lt;br/&gt;4. Insert into the field \"value\": \"Bearer {Your Bearer token}\" (without {}) for example \"Bearer 334d34d3dgh5tz5h5h\"&lt;br/&gt;4. Click Authorize&lt;br/&gt;5. Bearer token will be automatically used in the header for every following API call.&lt;br/&gt;6. Now you are ready to use the API&lt;br/&gt;&lt;br/&gt;See also [documentation](https://manual.amparex.com/display/HAN/AMPAREX+API) for help&lt;br/&gt;&lt;br/&gt;Documentation of all the used fields and objects is at the bottom of this page called \"Models\"",
    "title": "AMPAREX Rest API Documentation",
    "contact": { "name": "AMPAREX", "url": "https://www.amparex.com" }
  },
  "host": "trial.amparex.net:8078",
  "basePath": "/amparex/webaxapi",
  "tags": [
    { "name": "Addresses", "description": "REST API for addresss" },
    {
      "name": "ApplicationTypes",
      "description": "REST API for application types"
    },
    {
      "name": "AppointmentPlanner",
      "description": "REST API for appointment planner"
    },
    {
      "name": "AppointmentTemplates",
      "description": "REST API for appointment templates for time planner"
    },
    { "name": "Appointments", "description": "REST API for appointments" },
    {
      "name": "ArticleItems",
      "description": "REST API for article items (Stock Items)"
    },
    {
      "name": "ArticleVariants",
      "description": "REST API for articlevariants"
    },
    { "name": "Articles", "description": "REST API for articles" },
    { "name": "Audiograms", "description": "REST API for audiograms" },
    { "name": "Availabilities", "description": "REST API for availabilities" },
    { "name": "Branches", "description": "REST API for branches" },
    { "name": "Brands", "description": "REST API for brands" },
    {
      "name": "CashDeskBalances",
      "description": "REST API for cashdeskbalances"
    },
    { "name": "Colors", "description": "REST API for colors" },
    { "name": "Comments", "description": "REST API for comments" },
    { "name": "Companies", "description": "REST API for companies" },
    { "name": "ContactLenses", "description": "REST API for contactlenses" },
    { "name": "Customers", "description": "REST API for customers" },
    { "name": "Deliveries", "description": "REST API for deliveries" },
    { "name": "Doctors", "description": "REST API for doctors" },
    {
      "name": "DocumentTemplates",
      "description": "REST API for document templates"
    },
    { "name": "Glasses", "description": "REST API for glassess" },
    {
      "name": "HealthInsurance",
      "description": "REST API for healthinsurances"
    },
    { "name": "HearingCares", "description": "REST API for hearingcares" },
    { "name": "Invoices", "description": "REST API for invoices" },
    { "name": "Lenses", "description": "REST API for lenses" },
    { "name": "Login", "description": "REST API for authentication" },
    { "name": "MainVersions", "description": "REST API for mainversions" },
    {
      "name": "MarketingActions",
      "description": "REST API for marketingactions"
    },
    {
      "name": "MarketingCampaigns",
      "description": "REST API for marketingcampaigns"
    },
    {
      "name": "MarketingContacts",
      "description": "REST API for marketingcontacts"
    },
    { "name": "Orders", "description": "REST API for orders" },
    { "name": "Principals", "description": "REST API for principals" },
    { "name": "Programs", "description": "REST API for programs" },
    { "name": "Properties", "description": "REST API for properties" },
    {
      "name": "Resources",
      "description": "REST API for resources of time planner"
    },
    { "name": "Servers", "description": "REST API for servers" },
    {
      "name": "ServiceContracts",
      "description": "REST API for servicecontracts"
    },
    { "name": "Staffs", "description": "REST API for staffs" },
    {
      "name": "SurveyTemplates",
      "description": "REST API for surveytemplates"
    },
    { "name": "Surveys", "description": "REST API for surveys" },
    { "name": "Treatments", "description": "REST API for treatments" },
    { "name": "Versions", "description": "REST API for versions" },
    { "name": "Views", "description": "REST API for views of timeplanner" }
  ],
  "paths": {
    "/alias/{alias}/login": {
      "post": {
        "tags": ["Login"],
        "summary": "Login with user and password, use alias from AMPAREX service account. Each consecutive request, other than login, grants a new security-token with a default validity of 60 minutes. Use the new token to avoid expiration.The use of URL parameters is a securirty isse, whenever possible use the header parameters!",
        "operationId": "getSecTokenUsingPOST",
        "consumes": ["application/json"],
        "produces": ["application/json"],
        "parameters": [
          {
            "name": "username",
            "in": "header",
            "description": "username",
            "required": false,
            "type": "string"
          },
          {
            "name": "password",
            "in": "header",
            "description": "password",
            "required": false,
            "type": "string"
          },
          {
            "name": "alias",
            "in": "path",
            "description": "alias",
            "required": true,
            "type": "string"
          },
          {
            "name": "username",
            "in": "query",
            "description": "insecure URL parameter, better use header parameter",
            "required": false,
            "type": "string"
          },
          {
            "name": "password",
            "in": "query",
            "description": "insecure URL parameter, better use header parameter",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": { "$ref": "#/definitions/SecurityToken" }
          },
          "401": {
            "description": "Unauthorized - either the username does not exists, or the given password does not match the username, or the given password does not match the security criteria (very strong) defined in AMPAREX"
          },
          "402": {
            "description": "Payment Required - The API has not been activated for the company or the call-limit is exceeded"
          },
          "403": {
            "description": "Forbidden - Not enough permissions for this call"
          },
          "404": { "description": "NotFound - Entity not found" },
          "422": {
            "description": "Unprocessable Entity - The given entity is not valid for that request"
          },
          "503": {
            "description": "Service Unavailable - no service configuration available that matches the specified alias"
          }
        }
      }
    },
    "/alias/{alias}/protected/addresses": {
      "post": {
        "tags": ["Addresses"],
        "summary": "Create a new address",
        "operationId": "createAddressUsingPOST",
        "consumes": ["application/json"],
        "produces": ["application/json"],
        "parameters": [
          {
            "name": "alias",
            "in": "path",
            "description": "alias",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "toSave",
            "description": "toSave",
            "required": true,
            "schema": { "$ref": "#/definitions/AddressToSave" }
          }
        ],
        "responses": {
          "201": {
            "description": "Created",
            "schema": { "$ref": "#/definitions/CreationResponse" }
          },
          "401": {
            "description": "Unauthorized - Check security token or credentials"
          },
          "402": {
            "description": "Payment Required - The API has not been activated for the company or the call-limit is exceeded"
          },
          "403": {
            "description": "Forbidden - Not enough permissions for this call"
          },
          "404": { "description": "NotFound - Entity not found" },
          "422": {
            "description": "Unprocessable Entity - The given entity is not valid for that request"
          }
        },
        "security": [{ "security_token": [] }]
      }
    },
    "/alias/{alias}/protected/addresses/orderbyfields": {
      "get": {
        "tags": ["Addresses"],
        "summary": "Get possible fields for orderby of address fields",
        "operationId": "getAddressOrderByFieldsUsingGET",
        "produces": ["application/json"],
        "parameters": [
          {
            "name": "alias",
            "in": "path",
            "description": "alias",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": { "type": "array", "items": { "type": "string" } }
          },
          "401": {
            "description": "Unauthorized - Check security token or credentials"
          },
          "402": {
            "description": "Payment Required - The API has not been activated for the company or the call-limit is exceeded"
          },
          "403": {
            "description": "Forbidden - Not enough permissions for this call"
          },
          "404": { "description": "NotFound - Entity not found" }
        },
        "security": [{ "security_token": [] }]
      }
    },
    "/alias/{alias}/protected/addresses/search": {
      "post": {
        "tags": ["Addresses"],
        "summary": "Get a list of addresss",
        "description": "Get a list of addresss  by a search query, paging is used, specify limit and page; Model Type: Address is returned",
        "operationId": "searchAddresssUsingPOST",
        "consumes": ["application/json"],
        "produces": ["application/json"],
        "parameters": [
          {
            "name": "alias",
            "in": "path",
            "description": "alias",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "addressSearchQuery",
            "description": "addressSearchQuery",
            "required": true,
            "schema": { "$ref": "#/definitions/AddressSearchQuery" }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": { "$ref": "#/definitions/ListResultWrapper«Address»" }
          },
          "401": {
            "description": "Unauthorized - Check security token or credentials"
          },
          "402": {
            "description": "Payment Required - The API has not been activated for the company or the call-limit is exceeded"
          },
          "403": {
            "description": "Forbidden - Not enough permissions for this call"
          },
          "404": { "description": "NotFound - Entity not found" },
          "422": {
            "description": "Unprocessable Entity - The given entity is not valid for that request"
          }
        },
        "security": [{ "security_token": [] }]
      }
    },
    "/alias/{alias}/protected/addresses/{id}": {
      "get": {
        "tags": ["Addresses"],
        "summary": "Get one specific address by id",
        "operationId": "getAddressUsingGET",
        "produces": ["application/json"],
        "parameters": [
          {
            "name": "alias",
            "in": "path",
            "description": "alias",
            "required": true,
            "type": "string"
          },
          {
            "name": "id",
            "in": "path",
            "description": "id",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": { "$ref": "#/definitions/Address" }
          },
          "401": {
            "description": "Unauthorized - Check security token or credentials"
          },
          "402": {
            "description": "Payment Required - The API has not been activated for the company or the call-limit is exceeded"
          },
          "403": {
            "description": "Forbidden - Not enough permissions for this call"
          },
          "404": { "description": "NotFound - Entity not found" }
        },
        "security": [{ "security_token": [] }]
      },
      "patch": {
        "tags": ["Addresses"],
        "summary": "Update address with given id",
        "operationId": "updateAddressUsingPATCH",
        "consumes": ["application/json"],
        "produces": ["application/json"],
        "parameters": [
          {
            "name": "alias",
            "in": "path",
            "description": "alias",
            "required": true,
            "type": "string"
          },
          {
            "name": "id",
            "in": "path",
            "description": "id",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "toUpdate",
            "description": "toUpdate",
            "required": true,
            "schema": { "$ref": "#/definitions/AddressToSave" }
          }
        ],
        "responses": {
          "200": { "description": "OK" },
          "401": {
            "description": "Unauthorized - Check security token or credentials"
          },
          "402": {
            "description": "Payment Required - The API has not been activated for the company or the call-limit is exceeded"
          },
          "403": {
            "description": "Forbidden - Not enough permissions for this call"
          },
          "404": { "description": "NotFound - Entity not found" },
          "422": {
            "description": "Unprocessable Entity - The given entity is not valid for that request"
          }
        },
        "security": [{ "security_token": [] }]
      }
    },
    "/alias/{alias}/protected/applicationtypes": {
      "get": {
        "tags": ["ApplicationTypes"],
        "summary": "Get possible values for application type",
        "operationId": "findAllAppTypesUsingGET",
        "produces": ["application/json"],
        "parameters": [
          {
            "name": "alias",
            "in": "path",
            "description": "alias",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": { "$ref": "#/definitions/ApplicationType" }
            }
          },
          "401": {
            "description": "Unauthorized - Check security token or credentials"
          },
          "402": {
            "description": "Payment Required - The API has not been activated for the company or the call-limit is exceeded"
          },
          "403": {
            "description": "Forbidden - Not enough permissions for this call"
          },
          "404": { "description": "NotFound - Entity not found" }
        },
        "security": [{ "security_token": [] }]
      }
    },
    "/alias/{alias}/protected/appointmentplanner/booking": {
      "post": {
        "tags": ["AppointmentPlanner"],
        "summary": "Book appointment for template",
        "description": "Create a new appointment",
        "operationId": "bookAppointmentUsingPOST",
        "consumes": ["application/json"],
        "produces": ["application/json"],
        "parameters": [
          {
            "name": "alias",
            "in": "path",
            "description": "alias",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "data",
            "description": "data",
            "required": true,
            "schema": { "$ref": "#/definitions/Book appointment by template" }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": { "$ref": "#/definitions/CreationResponse" }
          },
          "401": {
            "description": "Unauthorized - Check security token or credentials"
          },
          "402": {
            "description": "Payment Required - The API has not been activated for the company or the call-limit is exceeded"
          },
          "403": {
            "description": "Forbidden - Not enough permissions for this call"
          },
          "404": { "description": "NotFound - Entity not found" },
          "422": {
            "description": "Unprocessable Entity - The given entity is not valid for that request"
          }
        },
        "security": [{ "security_token": [] }]
      }
    },
    "/alias/{alias}/protected/appointmentplanner/freebusy": {
      "post": {
        "tags": ["AppointmentPlanner"],
        "summary": "Get a list of time slots free/busy",
        "description": "Get a list of time slots in appointment planner",
        "operationId": "searchFreeBusyUsingPOST",
        "consumes": ["application/json"],
        "produces": ["application/json"],
        "parameters": [
          {
            "name": "alias",
            "in": "path",
            "description": "alias",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "searchQuery",
            "description": "searchQuery",
            "required": true,
            "schema": { "$ref": "#/definitions/AppointmentFreeBusySearchQuery" }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": { "$ref": "#/definitions/Free busy appointment" }
            }
          },
          "401": {
            "description": "Unauthorized - Check security token or credentials"
          },
          "402": {
            "description": "Payment Required - The API has not been activated for the company or the call-limit is exceeded"
          },
          "403": {
            "description": "Forbidden - Not enough permissions for this call"
          },
          "404": { "description": "NotFound - Entity not found" },
          "422": {
            "description": "Unprocessable Entity - The given entity is not valid for that request"
          }
        },
        "security": [{ "security_token": [] }]
      }
    },
    "/alias/{alias}/protected/appointmentplanner/info": {
      "get": {
        "tags": ["AppointmentPlanner"],
        "summary": "Get appointment planner information",
        "operationId": "getAppointmentPlannerInformationUsingGET",
        "produces": ["application/json"],
        "parameters": [
          {
            "name": "alias",
            "in": "path",
            "description": "alias",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": { "$ref": "#/definitions/Appointment planner" }
          },
          "401": {
            "description": "Unauthorized - Check security token or credentials"
          },
          "402": {
            "description": "Payment Required - The API has not been activated for the company or the call-limit is exceeded"
          },
          "403": {
            "description": "Forbidden - Not enough permissions for this call"
          },
          "404": { "description": "NotFound - Entity not found" }
        },
        "security": [{ "security_token": [] }]
      }
    },
    "/alias/{alias}/protected/appointmentplanner/synchronize": {
      "post": {
        "tags": ["AppointmentPlanner"],
        "summary": "Request for synchronization",
        "description": "Ask for changes in appointment planner",
        "operationId": "synchronizeUsingPOST",
        "consumes": ["application/json"],
        "produces": ["application/json"],
        "parameters": [
          {
            "name": "alias",
            "in": "path",
            "description": "alias",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "syncRequest",
            "description": "syncRequest",
            "required": true,
            "schema": { "$ref": "#/definitions/request for synchronization" }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": { "$ref": "#/definitions/result of synchronization" }
          },
          "401": {
            "description": "Unauthorized - Check security token or credentials"
          },
          "402": {
            "description": "Payment Required - The API has not been activated for the company or the call-limit is exceeded"
          },
          "403": {
            "description": "Forbidden - Not enough permissions for this call"
          },
          "404": { "description": "NotFound - Entity not found" },
          "422": {
            "description": "Unprocessable Entity - The given entity is not valid for that request"
          }
        },
        "security": [{ "security_token": [] }]
      }
    },
    "/alias/{alias}/protected/appointments": {
      "post": {
        "tags": ["Appointments"],
        "summary": "Create a new appointment",
        "operationId": "createAppointmentUsingPOST",
        "consumes": ["application/json"],
        "produces": ["application/json"],
        "parameters": [
          {
            "name": "alias",
            "in": "path",
            "description": "alias",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "toSave",
            "description": "toSave",
            "required": true,
            "schema": { "$ref": "#/definitions/AppointmentToSave" }
          }
        ],
        "responses": {
          "201": {
            "description": "Created",
            "schema": { "$ref": "#/definitions/CreationResponse" }
          },
          "401": {
            "description": "Unauthorized - Check security token or credentials"
          },
          "402": {
            "description": "Payment Required - The API has not been activated for the company or the call-limit is exceeded"
          },
          "403": {
            "description": "Forbidden - Not enough permissions for this call"
          },
          "404": { "description": "NotFound - Entity not found" },
          "409": {
            "description": "Conflict - the slot for the appointment is overbooked"
          },
          "422": {
            "description": "Unprocessable Entity - The given entity is not valid for that request"
          }
        },
        "security": [{ "security_token": [] }]
      }
    },
    "/alias/{alias}/protected/appointments/orderbyfields": {
      "get": {
        "tags": ["Appointments"],
        "summary": "Get possible fields for orderby of appointment fields",
        "operationId": "getAppointmentOrderByFieldsUsingGET",
        "produces": ["application/json"],
        "parameters": [
          {
            "name": "alias",
            "in": "path",
            "description": "alias",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": { "type": "array", "items": { "type": "string" } }
          },
          "401": {
            "description": "Unauthorized - Check security token or credentials"
          },
          "402": {
            "description": "Payment Required - The API has not been activated for the company or the call-limit is exceeded"
          },
          "403": {
            "description": "Forbidden - Not enough permissions for this call"
          },
          "404": { "description": "NotFound - Entity not found" }
        },
        "security": [{ "security_token": [] }]
      }
    },
    "/alias/{alias}/protected/appointments/search": {
      "post": {
        "tags": ["Appointments"],
        "summary": "Get a list of appointments",
        "description": "Get a list of appointments by a search query, paging is used, specify limit and page; Model Type: Appointment is returned",
        "operationId": "searchAppointmentsUsingPOST",
        "consumes": ["application/json"],
        "produces": ["application/json"],
        "parameters": [
          {
            "name": "alias",
            "in": "path",
            "description": "alias",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "appointmentSearchQuery",
            "description": "appointmentSearchQuery",
            "required": true,
            "schema": { "$ref": "#/definitions/AppointmentSearchQuery" }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": { "$ref": "#/definitions/ListResultWrapper«Appointment»" }
          },
          "401": {
            "description": "Unauthorized - Check security token or credentials"
          },
          "402": {
            "description": "Payment Required - The API has not been activated for the company or the call-limit is exceeded"
          },
          "403": {
            "description": "Forbidden - Not enough permissions for this call"
          },
          "404": { "description": "NotFound - Entity not found" },
          "422": {
            "description": "Unprocessable Entity - The given entity is not valid for that request"
          }
        },
        "security": [{ "security_token": [] }]
      }
    },
    "/alias/{alias}/protected/appointments/{id}": {
      "get": {
        "tags": ["Appointments"],
        "summary": "Get one specific appointment by id",
        "operationId": "getAppointmentUsingGET",
        "produces": ["application/json"],
        "parameters": [
          {
            "name": "alias",
            "in": "path",
            "description": "alias",
            "required": true,
            "type": "string"
          },
          {
            "name": "id",
            "in": "path",
            "description": "id",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": { "$ref": "#/definitions/Appointment" }
          },
          "401": {
            "description": "Unauthorized - Check security token or credentials"
          },
          "402": {
            "description": "Payment Required - The API has not been activated for the company or the call-limit is exceeded"
          },
          "403": {
            "description": "Forbidden - Not enough permissions for this call"
          },
          "404": { "description": "NotFound - Entity not found" }
        },
        "security": [{ "security_token": [] }]
      },
      "delete": {
        "tags": ["Appointments"],
        "summary": "Delete an appointment with given id",
        "operationId": "deleteAvailabilityUsingDELETE",
        "produces": ["application/json"],
        "parameters": [
          {
            "name": "alias",
            "in": "path",
            "description": "alias",
            "required": true,
            "type": "string"
          },
          {
            "name": "id",
            "in": "path",
            "description": "id",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": { "description": "OK" },
          "401": {
            "description": "Unauthorized - Check security token or credentials"
          },
          "402": {
            "description": "Payment Required - The API has not been activated for the company or the call-limit is exceeded"
          },
          "403": {
            "description": "Forbidden - Not enough permissions for this call"
          },
          "404": { "description": "NotFound - Entity not found" }
        },
        "security": [{ "security_token": [] }]
      },
      "patch": {
        "tags": ["Appointments"],
        "summary": "Update appointment with given id",
        "operationId": "updateAppointmentUsingPATCH",
        "consumes": ["application/json"],
        "produces": ["application/json"],
        "parameters": [
          {
            "name": "alias",
            "in": "path",
            "description": "alias",
            "required": true,
            "type": "string"
          },
          {
            "name": "id",
            "in": "path",
            "description": "id",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "toUpdate",
            "description": "toUpdate",
            "required": true,
            "schema": { "$ref": "#/definitions/AppointmentToSave" }
          }
        ],
        "responses": {
          "200": { "description": "OK" },
          "401": {
            "description": "Unauthorized - Check security token or credentials"
          },
          "402": {
            "description": "Payment Required - The API has not been activated for the company or the call-limit is exceeded"
          },
          "403": {
            "description": "Forbidden - Not enough permissions for this call"
          },
          "404": { "description": "NotFound - Entity not found" },
          "409": {
            "description": "Conflict - the slot for the appointment is overbooked"
          },
          "422": {
            "description": "Unprocessable Entity - The given entity is not valid for that request"
          }
        },
        "security": [{ "security_token": [] }]
      }
    },
    "/alias/{alias}/protected/appointmenttemplates/search": {
      "post": {
        "tags": ["AppointmentTemplates"],
        "summary": "Get a list of appointment templates",
        "description": "Get a list of templates for online booking by branch-id",
        "operationId": "searchAppointmentTemplatesUsingPOST",
        "consumes": ["application/json"],
        "produces": ["application/json"],
        "parameters": [
          {
            "name": "alias",
            "in": "path",
            "description": "alias",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "searchQuery",
            "description": "searchQuery",
            "required": true,
            "schema": { "$ref": "#/definitions/AppointmentTemplateSearchQuery" }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ListResultWrapper«AppointmentTemplate»"
            }
          },
          "401": {
            "description": "Unauthorized - Check security token or credentials"
          },
          "402": {
            "description": "Payment Required - The API has not been activated for the company or the call-limit is exceeded"
          },
          "403": {
            "description": "Forbidden - Not enough permissions for this call"
          },
          "404": { "description": "NotFound - Entity not found" },
          "422": {
            "description": "Unprocessable Entity - The given entity is not valid for that request"
          }
        },
        "security": [{ "security_token": [] }]
      }
    },
    "/alias/{alias}/protected/articleitems/search": {
      "post": {
        "tags": ["ArticleItems"],
        "summary": "Get a list of articleitems",
        "description": "Get a list of article items  by a search query, paging is used, specify limit and page; Model Type: ArticleItem is returned",
        "operationId": "searchArticleItemsUsingPOST",
        "consumes": ["application/json"],
        "produces": ["application/json"],
        "parameters": [
          {
            "name": "alias",
            "in": "path",
            "description": "alias",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "articleItemSearchQuery",
            "description": "articleItemSearchQuery",
            "required": true,
            "schema": { "$ref": "#/definitions/ArticleItemSearchQuery" }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": { "$ref": "#/definitions/ListResultWrapper«ArticleItem»" }
          },
          "401": {
            "description": "Unauthorized - Check security token or credentials"
          },
          "402": {
            "description": "Payment Required - The API has not been activated for the company or the call-limit is exceeded"
          },
          "403": {
            "description": "Forbidden - Not enough permissions for this call"
          },
          "404": { "description": "NotFound - Entity not found" },
          "422": {
            "description": "Unprocessable Entity - The given entity is not valid for that request"
          }
        },
        "security": [{ "security_token": [] }]
      }
    },
    "/alias/{alias}/protected/articleitems/stockamounts": {
      "post": {
        "tags": ["ArticleItems"],
        "summary": "Get a list item stock amounts",
        "description": "Stock amount an deliverability per branch",
        "operationId": "searchStockAmountsUsingPOST",
        "consumes": ["application/json"],
        "produces": ["application/json"],
        "parameters": [
          {
            "name": "alias",
            "in": "path",
            "description": "alias",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "searchQuery",
            "description": "searchQuery",
            "required": true,
            "schema": { "$ref": "#/definitions/StockAmountSearchQuery" }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": { "$ref": "#/definitions/ListResultWrapper«StockAmount»" }
          },
          "401": {
            "description": "Unauthorized - Check security token or credentials"
          },
          "402": {
            "description": "Payment Required - The API has not been activated for the company or the call-limit is exceeded"
          },
          "403": {
            "description": "Forbidden - Not enough permissions for this call"
          },
          "404": { "description": "NotFound - Entity not found" },
          "422": {
            "description": "Unprocessable Entity - The given entity is not valid for that request"
          }
        },
        "security": [{ "security_token": [] }]
      }
    },
    "/alias/{alias}/protected/articleitems/stockavailability": {
      "get": {
        "tags": ["ArticleItems"],
        "summary": "Fetches stock amount per branch (shop)",
        "operationId": "getArticleItemsStockAvailabilityPerBranchUsingGET",
        "produces": ["application/json"],
        "parameters": [
          {
            "name": "alias",
            "in": "path",
            "description": "alias",
            "required": true,
            "type": "string"
          },
          {
            "name": "articleid",
            "in": "query",
            "description": "articleid",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": { "$ref": "#/definitions/StockAvailability" }
            }
          },
          "401": {
            "description": "Unauthorized - Check security token or credentials"
          },
          "402": {
            "description": "Payment Required - The API has not been activated for the company or the call-limit is exceeded"
          },
          "403": {
            "description": "Forbidden - Not enough permissions for this call"
          },
          "404": { "description": "NotFound - Entity not found" }
        },
        "security": [{ "security_token": [] }]
      }
    },
    "/alias/{alias}/protected/articleitems/transferitems": {
      "post": {
        "tags": ["ArticleItems"],
        "summary": "transfer article items from one branch to another",
        "description": "Move items from source- to destination branch. If destination status is 'ai_state_stock' items are in stock immediately, else must be excepted by destination branch",
        "operationId": "transferItemsUsingPOST",
        "consumes": ["application/json"],
        "produces": ["application/json"],
        "parameters": [
          {
            "name": "alias",
            "in": "path",
            "description": "alias",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "toTransfer",
            "description": "toTransfer",
            "required": true,
            "schema": { "$ref": "#/definitions/ItemsToTransfer" }
          }
        ],
        "responses": {
          "201": {
            "description": "Created",
            "schema": { "$ref": "#/definitions/CreationResponse" }
          },
          "401": {
            "description": "Unauthorized - Check security token or credentials"
          },
          "402": {
            "description": "Payment Required - The API has not been activated for the company or the call-limit is exceeded"
          },
          "403": {
            "description": "Forbidden - Not enough permissions for this call"
          },
          "404": { "description": "NotFound - Entity not found" },
          "422": {
            "description": "Unprocessable Entity - The given entity is not valid for that request"
          }
        },
        "security": [{ "security_token": [] }]
      }
    },
    "/alias/{alias}/protected/articleitems/{id}": {
      "get": {
        "tags": ["ArticleItems"],
        "summary": "Get one specific articleitem by id",
        "operationId": "getArticleItemUsingGET",
        "produces": ["application/json"],
        "parameters": [
          {
            "name": "alias",
            "in": "path",
            "description": "alias",
            "required": true,
            "type": "string"
          },
          {
            "name": "id",
            "in": "path",
            "description": "id",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": { "$ref": "#/definitions/ArticleItem" }
          },
          "401": {
            "description": "Unauthorized - Check security token or credentials"
          },
          "402": {
            "description": "Payment Required - The API has not been activated for the company or the call-limit is exceeded"
          },
          "403": {
            "description": "Forbidden - Not enough permissions for this call"
          },
          "404": { "description": "NotFound - Entity not found" }
        },
        "security": [{ "security_token": [] }]
      }
    },
    "/alias/{alias}/protected/articles/detailedsearch": {
      "post": {
        "tags": ["Articles"],
        "summary": "Get a list of detailed articles",
        "description": "Get a list of detailed articles  by a search query, contains more details than /search including properties &amp; images, paging is used, specify limit and page; Model Type: ArticleDetail is returned",
        "operationId": "searchDetailedArticlesUsingPOST",
        "consumes": ["application/json"],
        "produces": ["application/json"],
        "parameters": [
          {
            "name": "alias",
            "in": "path",
            "description": "alias",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "articleSearchQuery",
            "description": "articleSearchQuery",
            "required": true,
            "schema": { "$ref": "#/definitions/ArticleSearchQuery" }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ListResultWrapper«ArticleDetail»"
            }
          },
          "401": {
            "description": "Unauthorized - Check security token or credentials"
          },
          "402": {
            "description": "Payment Required - The API has not been activated for the company or the call-limit is exceeded"
          },
          "403": {
            "description": "Forbidden - Not enough permissions for this call"
          },
          "404": { "description": "NotFound - Entity not found" },
          "422": {
            "description": "Unprocessable Entity - The given entity is not valid for that request"
          }
        },
        "security": [{ "security_token": [] }]
      }
    },
    "/alias/{alias}/protected/articles/orderbyfields": {
      "get": {
        "tags": ["Articles"],
        "summary": "Get possible fields for orderby of article fields",
        "operationId": "getArticleOrderByFieldsUsingGET",
        "produces": ["application/json"],
        "parameters": [
          {
            "name": "alias",
            "in": "path",
            "description": "alias",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": { "type": "array", "items": { "type": "string" } }
          },
          "401": {
            "description": "Unauthorized - Check security token or credentials"
          },
          "402": {
            "description": "Payment Required - The API has not been activated for the company or the call-limit is exceeded"
          },
          "403": {
            "description": "Forbidden - Not enough permissions for this call"
          },
          "404": { "description": "NotFound - Entity not found" }
        },
        "security": [{ "security_token": [] }]
      }
    },
    "/alias/{alias}/protected/articles/salesprices/search": {
      "post": {
        "tags": ["Articles"],
        "summary": "Get a list of article sales prices",
        "description": "Get a list of sales prices by a search query, paging is used, specify limit and page; Model Type: SalesPrice is returned",
        "operationId": "searchSalesPricesUsingPOST",
        "consumes": ["application/json"],
        "produces": ["application/json"],
        "parameters": [
          {
            "name": "alias",
            "in": "path",
            "description": "alias",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "searchQuery",
            "description": "searchQuery",
            "required": true,
            "schema": { "$ref": "#/definitions/SalesPriceSearchQuery" }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": { "$ref": "#/definitions/ListResultWrapper«SalesPrice»" }
          },
          "401": {
            "description": "Unauthorized - Check security token or credentials"
          },
          "402": {
            "description": "Payment Required - The API has not been activated for the company or the call-limit is exceeded"
          },
          "403": {
            "description": "Forbidden - Not enough permissions for this call"
          },
          "404": { "description": "NotFound - Entity not found" },
          "422": {
            "description": "Unprocessable Entity - The given entity is not valid for that request"
          }
        },
        "security": [{ "security_token": [] }]
      }
    },
    "/alias/{alias}/protected/articles/search": {
      "post": {
        "tags": ["Articles"],
        "summary": "Get a list of articles",
        "description": "Get a list of articles  by a search query, paging is used, specify limit and page; Model Type: ArticleOverview is returned",
        "operationId": "searchArticlesUsingPOST",
        "consumes": ["application/json"],
        "produces": ["application/json"],
        "parameters": [
          {
            "name": "alias",
            "in": "path",
            "description": "alias",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "articleSearchQuery",
            "description": "articleSearchQuery",
            "required": true,
            "schema": { "$ref": "#/definitions/ArticleSearchQuery" }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ListResultWrapper«ArticleOverview»"
            }
          },
          "401": {
            "description": "Unauthorized - Check security token or credentials"
          },
          "402": {
            "description": "Payment Required - The API has not been activated for the company or the call-limit is exceeded"
          },
          "403": {
            "description": "Forbidden - Not enough permissions for this call"
          },
          "404": { "description": "NotFound - Entity not found" },
          "422": {
            "description": "Unprocessable Entity - The given entity is not valid for that request"
          }
        },
        "security": [{ "security_token": [] }]
      }
    },
    "/alias/{alias}/protected/articles/{articleid}/images/{imageid}": {
      "get": {
        "tags": ["Articles"],
        "summary": "Get image of article as blob",
        "operationId": "getArticleImageUsingGET",
        "produces": ["application/octet-stream", "application/json"],
        "parameters": [
          {
            "name": "alias",
            "in": "path",
            "description": "alias",
            "required": true,
            "type": "string"
          },
          {
            "name": "articleid",
            "in": "path",
            "description": "articleid",
            "required": true,
            "type": "string"
          },
          {
            "name": "imageid",
            "in": "path",
            "description": "imageid",
            "required": true,
            "type": "string"
          },
          {
            "name": "imageWidth",
            "in": "query",
            "description": "imageWidth",
            "required": false,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": { "type": "string", "format": "byte" }
          },
          "401": {
            "description": "Unauthorized - Check security token or credentials"
          },
          "402": {
            "description": "Payment Required - The API has not been activated for the company or the call-limit is exceeded"
          },
          "403": {
            "description": "Forbidden - Not enough permissions for this call"
          },
          "404": { "description": "NotFound - Entity not found" }
        },
        "security": [{ "security_token": [] }]
      }
    },
    "/alias/{alias}/protected/articles/{id}": {
      "get": {
        "tags": ["Articles"],
        "summary": "Get one specific article detail by id",
        "operationId": "getArticleUsingGET",
        "produces": ["application/json"],
        "parameters": [
          {
            "name": "alias",
            "in": "path",
            "description": "alias",
            "required": true,
            "type": "string"
          },
          {
            "name": "id",
            "in": "path",
            "description": "id",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": { "$ref": "#/definitions/ArticleDetail" }
          },
          "401": {
            "description": "Unauthorized - Check security token or credentials"
          },
          "402": {
            "description": "Payment Required - The API has not been activated for the company or the call-limit is exceeded"
          },
          "403": {
            "description": "Forbidden - Not enough permissions for this call"
          },
          "404": { "description": "NotFound - Entity not found" }
        },
        "security": [{ "security_token": [] }]
      }
    },
    "/alias/{alias}/protected/articlevariants/search": {
      "post": {
        "tags": ["ArticleVariants"],
        "summary": "Get a list of article variants",
        "description": "Get a list of article variants  by a search query, paging is used, specify limit and page; Model Type: ArticleVariant is returned",
        "operationId": "searchArticleVariantsUsingPOST",
        "consumes": ["application/json"],
        "produces": ["application/json"],
        "parameters": [
          {
            "name": "alias",
            "in": "path",
            "description": "alias",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "articlevariantSearchQuery",
            "description": "articlevariantSearchQuery",
            "required": true,
            "schema": { "$ref": "#/definitions/ArticleVariantSearchQuery" }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ListResultWrapper«ArticleVariant»"
            }
          },
          "401": {
            "description": "Unauthorized - Check security token or credentials"
          },
          "402": {
            "description": "Payment Required - The API has not been activated for the company or the call-limit is exceeded"
          },
          "403": {
            "description": "Forbidden - Not enough permissions for this call"
          },
          "404": { "description": "NotFound - Entity not found" },
          "422": {
            "description": "Unprocessable Entity - The given entity is not valid for that request"
          }
        },
        "security": [{ "security_token": [] }]
      }
    },
    "/alias/{alias}/protected/articlevariants/{id}": {
      "get": {
        "tags": ["ArticleVariants"],
        "summary": "Get one specific article variant by id",
        "operationId": "getArticleVariantUsingGET",
        "produces": ["application/json"],
        "parameters": [
          {
            "name": "alias",
            "in": "path",
            "description": "alias",
            "required": true,
            "type": "string"
          },
          {
            "name": "id",
            "in": "path",
            "description": "id",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": { "$ref": "#/definitions/ArticleVariant" }
          },
          "401": {
            "description": "Unauthorized - Check security token or credentials"
          },
          "402": {
            "description": "Payment Required - The API has not been activated for the company or the call-limit is exceeded"
          },
          "403": {
            "description": "Forbidden - Not enough permissions for this call"
          },
          "404": { "description": "NotFound - Entity not found" }
        },
        "security": [{ "security_token": [] }]
      }
    },
    "/alias/{alias}/protected/audiograms/orderbyfields": {
      "get": {
        "tags": ["Audiograms"],
        "summary": "Get possible fields for orderby of audiogram fields",
        "operationId": "getAudiogramOrderByFieldsUsingGET",
        "produces": ["application/json"],
        "parameters": [
          {
            "name": "alias",
            "in": "path",
            "description": "alias",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": { "type": "array", "items": { "type": "string" } }
          },
          "401": {
            "description": "Unauthorized - Check security token or credentials"
          },
          "402": {
            "description": "Payment Required - The API has not been activated for the company or the call-limit is exceeded"
          },
          "403": {
            "description": "Forbidden - Not enough permissions for this call"
          },
          "404": { "description": "NotFound - Entity not found" }
        },
        "security": [{ "security_token": [] }]
      }
    },
    "/alias/{alias}/protected/audiograms/search": {
      "post": {
        "tags": ["Audiograms"],
        "summary": "Get a list of audiograms",
        "description": "Get a list of audiograms  by a search query, paging is used, specify limit and page; Model Type: Audiogram is returned",
        "operationId": "searchAudiogramsUsingPOST",
        "consumes": ["application/json"],
        "produces": ["application/json"],
        "parameters": [
          {
            "name": "alias",
            "in": "path",
            "description": "alias",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "audiogramSearchQuery",
            "description": "audiogramSearchQuery",
            "required": true,
            "schema": { "$ref": "#/definitions/AudiogramSearchQuery" }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": { "$ref": "#/definitions/ListResultWrapper«Audiogram»" }
          },
          "401": {
            "description": "Unauthorized - Check security token or credentials"
          },
          "402": {
            "description": "Payment Required - The API has not been activated for the company or the call-limit is exceeded"
          },
          "403": {
            "description": "Forbidden - Not enough permissions for this call"
          },
          "404": { "description": "NotFound - Entity not found" },
          "422": {
            "description": "Unprocessable Entity - The given entity is not valid for that request"
          }
        },
        "security": [{ "security_token": [] }]
      }
    },
    "/alias/{alias}/protected/audiograms/{id}": {
      "get": {
        "tags": ["Audiograms"],
        "summary": "Get one specific audiogram by id",
        "operationId": "getAudiogramUsingGET",
        "produces": ["application/json"],
        "parameters": [
          {
            "name": "alias",
            "in": "path",
            "description": "alias",
            "required": true,
            "type": "string"
          },
          {
            "name": "id",
            "in": "path",
            "description": "id",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": { "$ref": "#/definitions/Audiogram" }
          },
          "401": {
            "description": "Unauthorized - Check security token or credentials"
          },
          "402": {
            "description": "Payment Required - The API has not been activated for the company or the call-limit is exceeded"
          },
          "403": {
            "description": "Forbidden - Not enough permissions for this call"
          },
          "404": { "description": "NotFound - Entity not found" }
        },
        "security": [{ "security_token": [] }]
      }
    },
    "/alias/{alias}/protected/availabilities": {
      "post": {
        "tags": ["Availabilities"],
        "summary": "Create a new availability",
        "operationId": "createAvailabilityUsingPOST",
        "consumes": ["application/json"],
        "produces": ["application/json"],
        "parameters": [
          {
            "name": "alias",
            "in": "path",
            "description": "alias",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "toSave",
            "description": "toSave",
            "required": true,
            "schema": { "$ref": "#/definitions/AvailabilityToSave" }
          }
        ],
        "responses": {
          "201": {
            "description": "Created",
            "schema": { "$ref": "#/definitions/CreationResponse" }
          },
          "401": {
            "description": "Unauthorized - Check security token or credentials"
          },
          "402": {
            "description": "Payment Required - The API has not been activated for the company or the call-limit is exceeded"
          },
          "403": {
            "description": "Forbidden - Not enough permissions for this call"
          },
          "404": { "description": "NotFound - Entity not found" },
          "422": {
            "description": "Unprocessable Entity - The given entity is not valid for that request"
          }
        },
        "security": [{ "security_token": [] }]
      }
    },
    "/alias/{alias}/protected/availabilities/orderbyfields": {
      "get": {
        "tags": ["Availabilities"],
        "summary": "Get possible fields for orderby of availability fields",
        "operationId": "getAvailabilityOrderByFieldsUsingGET",
        "produces": ["application/json"],
        "parameters": [
          {
            "name": "alias",
            "in": "path",
            "description": "alias",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": { "type": "array", "items": { "type": "string" } }
          },
          "401": {
            "description": "Unauthorized - Check security token or credentials"
          },
          "402": {
            "description": "Payment Required - The API has not been activated for the company or the call-limit is exceeded"
          },
          "403": {
            "description": "Forbidden - Not enough permissions for this call"
          },
          "404": { "description": "NotFound - Entity not found" }
        },
        "security": [{ "security_token": [] }]
      }
    },
    "/alias/{alias}/protected/availabilities/search": {
      "post": {
        "tags": ["Availabilities"],
        "summary": "Get a list of availabilities",
        "description": "Get a list of availabilities by a search query, paging is used, specify limit and page; Model Type: Availability is returned",
        "operationId": "searchAvailabilitiesUsingPOST",
        "consumes": ["application/json"],
        "produces": ["application/json"],
        "parameters": [
          {
            "name": "alias",
            "in": "path",
            "description": "alias",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "availabilitySearchQuery",
            "description": "availabilitySearchQuery",
            "required": true,
            "schema": { "$ref": "#/definitions/AvailabilitySearchQuery" }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ListResultWrapper«Availability»"
            }
          },
          "401": {
            "description": "Unauthorized - Check security token or credentials"
          },
          "402": {
            "description": "Payment Required - The API has not been activated for the company or the call-limit is exceeded"
          },
          "403": {
            "description": "Forbidden - Not enough permissions for this call"
          },
          "404": { "description": "NotFound - Entity not found" },
          "422": {
            "description": "Unprocessable Entity - The given entity is not valid for that request"
          }
        },
        "security": [{ "security_token": [] }]
      }
    },
    "/alias/{alias}/protected/availabilities/{id}": {
      "get": {
        "tags": ["Availabilities"],
        "summary": "Get one specific availability by id",
        "operationId": "getAvailabilityUsingGET",
        "produces": ["application/json"],
        "parameters": [
          {
            "name": "alias",
            "in": "path",
            "description": "alias",
            "required": true,
            "type": "string"
          },
          {
            "name": "id",
            "in": "path",
            "description": "id",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": { "$ref": "#/definitions/Availability" }
          },
          "401": {
            "description": "Unauthorized - Check security token or credentials"
          },
          "402": {
            "description": "Payment Required - The API has not been activated for the company or the call-limit is exceeded"
          },
          "403": {
            "description": "Forbidden - Not enough permissions for this call"
          },
          "404": { "description": "NotFound - Entity not found" }
        },
        "security": [{ "security_token": [] }]
      },
      "delete": {
        "tags": ["Availabilities"],
        "summary": "Delete an availability with given id",
        "operationId": "deleteAvailabilityUsingDELETE_1",
        "produces": ["application/json"],
        "parameters": [
          {
            "name": "alias",
            "in": "path",
            "description": "alias",
            "required": true,
            "type": "string"
          },
          {
            "name": "id",
            "in": "path",
            "description": "id",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": { "description": "OK" },
          "401": {
            "description": "Unauthorized - Check security token or credentials"
          },
          "402": {
            "description": "Payment Required - The API has not been activated for the company or the call-limit is exceeded"
          },
          "403": {
            "description": "Forbidden - Not enough permissions for this call"
          },
          "404": { "description": "NotFound - Entity not found" }
        },
        "security": [{ "security_token": [] }]
      },
      "patch": {
        "tags": ["Availabilities"],
        "summary": "Update availability with given id",
        "operationId": "updateAvailabilityUsingPATCH",
        "consumes": ["application/json"],
        "produces": ["application/json"],
        "parameters": [
          {
            "name": "alias",
            "in": "path",
            "description": "alias",
            "required": true,
            "type": "string"
          },
          {
            "name": "id",
            "in": "path",
            "description": "id",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "toUpdate",
            "description": "toUpdate",
            "required": true,
            "schema": { "$ref": "#/definitions/AvailabilityToSave" }
          }
        ],
        "responses": {
          "200": { "description": "OK" },
          "401": {
            "description": "Unauthorized - Check security token or credentials"
          },
          "402": {
            "description": "Payment Required - The API has not been activated for the company or the call-limit is exceeded"
          },
          "403": {
            "description": "Forbidden - Not enough permissions for this call"
          },
          "404": { "description": "NotFound - Entity not found" },
          "422": {
            "description": "Unprocessable Entity - The given entity is not valid for that request"
          }
        },
        "security": [{ "security_token": [] }]
      }
    },
    "/alias/{alias}/protected/axlogin": {
      "post": {
        "tags": ["Login"],
        "summary": "Login with AMPAREX user, password and branchId, use alias from AMPAREX service account. Each consecutive request, other than login, grants a new security-token with a default validity of 60 minutes. Use the new token to avoid expiration. This login can be used to switch branches for a current logged-in AMPAREX user.",
        "operationId": "getSecTokenUsingPOST_1",
        "consumes": ["application/json"],
        "produces": ["application/json"],
        "parameters": [
          {
            "name": "username",
            "in": "query",
            "description": "username",
            "required": true,
            "type": "string"
          },
          {
            "name": "password",
            "in": "query",
            "description": "password",
            "required": true,
            "type": "string"
          },
          {
            "name": "branchid",
            "in": "query",
            "description": "branchid",
            "required": true,
            "type": "string"
          },
          {
            "name": "alias",
            "in": "path",
            "description": "alias",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": { "$ref": "#/definitions/SecurityToken" }
          },
          "401": {
            "description": "Unauthorized - Check security token or credentials"
          },
          "402": {
            "description": "Payment Required - The API has not been activated for the company or the call-limit is exceeded"
          },
          "403": {
            "description": "Forbidden - Not enough permissions for this call"
          },
          "404": { "description": "NotFound - Entity not found" },
          "422": {
            "description": "Unprocessable Entity - The given entity is not valid for that request"
          }
        },
        "security": [{ "security_token": [] }]
      }
    },
    "/alias/{alias}/protected/branches/search": {
      "post": {
        "tags": ["Branches"],
        "summary": "Get a list of branches",
        "description": "Get a list of branches by a search query; Model Type: Branch is returned",
        "operationId": "searchBranchesUsingPOST",
        "consumes": ["application/json"],
        "produces": ["application/json"],
        "parameters": [
          {
            "name": "alias",
            "in": "path",
            "description": "alias",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "searchQuery",
            "description": "searchQuery",
            "required": true,
            "schema": { "$ref": "#/definitions/BranchSearchQuery" }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": { "$ref": "#/definitions/ListResultWrapper«Branch»" }
          },
          "401": {
            "description": "Unauthorized - Check security token or credentials"
          },
          "402": {
            "description": "Payment Required - The API has not been activated for the company or the call-limit is exceeded"
          },
          "403": {
            "description": "Forbidden - Not enough permissions for this call"
          },
          "404": { "description": "NotFound - Entity not found" },
          "422": {
            "description": "Unprocessable Entity - The given entity is not valid for that request"
          }
        },
        "security": [{ "security_token": [] }]
      }
    },
    "/alias/{alias}/protected/branches/{id}": {
      "get": {
        "tags": ["Branches"],
        "summary": "Get one specific branch by id",
        "operationId": "getBranchUsingGET",
        "produces": ["application/json"],
        "parameters": [
          {
            "name": "alias",
            "in": "path",
            "description": "alias",
            "required": true,
            "type": "string"
          },
          {
            "name": "id",
            "in": "path",
            "description": "id",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": { "$ref": "#/definitions/Branch" }
          },
          "401": {
            "description": "Unauthorized - Check security token or credentials"
          },
          "402": {
            "description": "Payment Required - The API has not been activated for the company or the call-limit is exceeded"
          },
          "403": {
            "description": "Forbidden - Not enough permissions for this call"
          },
          "404": { "description": "NotFound - Entity not found" }
        },
        "security": [{ "security_token": [] }]
      }
    },
    "/alias/{alias}/protected/brands/search": {
      "post": {
        "tags": ["Brands"],
        "summary": "Get a list of brands",
        "description": "Get a list of brands by a search query, paging is used, specify limit and page; Model Type: Brand is returned",
        "operationId": "searchBrandsUsingPOST",
        "consumes": ["application/json"],
        "produces": ["application/json"],
        "parameters": [
          {
            "name": "alias",
            "in": "path",
            "description": "alias",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "searchQuery",
            "description": "searchQuery",
            "required": true,
            "schema": { "$ref": "#/definitions/BrandSearchQuery" }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": { "$ref": "#/definitions/ListResultWrapper«Brand»" }
          },
          "401": {
            "description": "Unauthorized - Check security token or credentials"
          },
          "402": {
            "description": "Payment Required - The API has not been activated for the company or the call-limit is exceeded"
          },
          "403": {
            "description": "Forbidden - Not enough permissions for this call"
          },
          "404": { "description": "NotFound - Entity not found" },
          "422": {
            "description": "Unprocessable Entity - The given entity is not valid for that request"
          }
        },
        "security": [{ "security_token": [] }]
      }
    },
    "/alias/{alias}/protected/brands/{brandid}/images/{imageid}": {
      "get": {
        "tags": ["Brands"],
        "summary": "Get image of brand as blob",
        "operationId": "getBrandImageUsingGET",
        "produces": ["application/octet-stream", "application/json"],
        "parameters": [
          {
            "name": "alias",
            "in": "path",
            "description": "alias",
            "required": true,
            "type": "string"
          },
          {
            "name": "brandid",
            "in": "path",
            "description": "brandid",
            "required": true,
            "type": "string"
          },
          {
            "name": "imageid",
            "in": "path",
            "description": "imageid",
            "required": true,
            "type": "string"
          },
          {
            "name": "imageWidth",
            "in": "query",
            "description": "imageWidth",
            "required": false,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": { "type": "string", "format": "byte" }
          },
          "401": {
            "description": "Unauthorized - Check security token or credentials"
          },
          "402": {
            "description": "Payment Required - The API has not been activated for the company or the call-limit is exceeded"
          },
          "403": {
            "description": "Forbidden - Not enough permissions for this call"
          },
          "404": { "description": "NotFound - Entity not found" }
        },
        "security": [{ "security_token": [] }]
      }
    },
    "/alias/{alias}/protected/brands/{id}": {
      "get": {
        "tags": ["Brands"],
        "summary": "Get one specific brand by id",
        "operationId": "getBrandUsingGET",
        "produces": ["application/json"],
        "parameters": [
          {
            "name": "alias",
            "in": "path",
            "description": "alias",
            "required": true,
            "type": "string"
          },
          {
            "name": "id",
            "in": "path",
            "description": "id",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": { "$ref": "#/definitions/Brand" }
          },
          "401": {
            "description": "Unauthorized - Check security token or credentials"
          },
          "402": {
            "description": "Payment Required - The API has not been activated for the company or the call-limit is exceeded"
          },
          "403": {
            "description": "Forbidden - Not enough permissions for this call"
          },
          "404": { "description": "NotFound - Entity not found" }
        },
        "security": [{ "security_token": [] }]
      }
    },
    "/alias/{alias}/protected/cashdeskbalances/search": {
      "post": {
        "tags": ["CashDeskBalances"],
        "summary": "Get a list of cashdeskbalances",
        "description": "Get a list of cashdeskbalances  by a search query, paging is used, specify limit and page; Model Type: CashDeskBalance is returned",
        "operationId": "searchCashDeskBalancesUsingPOST",
        "consumes": ["application/json"],
        "produces": ["application/json"],
        "parameters": [
          {
            "name": "alias",
            "in": "path",
            "description": "alias",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "cashdeskbalanceSearchQuery",
            "description": "cashdeskbalanceSearchQuery",
            "required": true,
            "schema": { "$ref": "#/definitions/ApiCashDeskBalanceSearchQuery" }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ListResultWrapper«ApiCashDeskBalance»"
            }
          },
          "401": {
            "description": "Unauthorized - Check security token or credentials"
          },
          "402": {
            "description": "Payment Required - The API has not been activated for the company or the call-limit is exceeded"
          },
          "403": {
            "description": "Forbidden - Not enough permissions for this call"
          },
          "404": { "description": "NotFound - Entity not found" },
          "422": {
            "description": "Unprocessable Entity - The given entity is not valid for that request"
          }
        },
        "security": [{ "security_token": [] }]
      }
    },
    "/alias/{alias}/protected/cashdeskbalances/{id}": {
      "get": {
        "tags": ["CashDeskBalances"],
        "summary": "Get one specific cashdeskbalance by id",
        "operationId": "getCashDeskBalanceUsingGET",
        "produces": ["application/json"],
        "parameters": [
          {
            "name": "alias",
            "in": "path",
            "description": "alias",
            "required": true,
            "type": "string"
          },
          {
            "name": "id",
            "in": "path",
            "description": "id",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": { "$ref": "#/definitions/ApiCashDeskBalance" }
          },
          "401": {
            "description": "Unauthorized - Check security token or credentials"
          },
          "402": {
            "description": "Payment Required - The API has not been activated for the company or the call-limit is exceeded"
          },
          "403": {
            "description": "Forbidden - Not enough permissions for this call"
          },
          "404": { "description": "NotFound - Entity not found" }
        },
        "security": [{ "security_token": [] }]
      }
    },
    "/alias/{alias}/protected/changeUser": {
      "post": {
        "tags": ["Login"],
        "summary": "Relogin or change user with pincode, use alias from AMPAREX service account. Each consecutive request, other than login, grants a new security-token with a default validity of 60 minutes. Use the new token to avoid expiration.",
        "operationId": "changeUserUsingPOST",
        "consumes": ["application/json"],
        "produces": ["application/json"],
        "parameters": [
          {
            "name": "pincode",
            "in": "query",
            "description": "pincode",
            "required": true,
            "type": "string"
          },
          {
            "name": "alias",
            "in": "path",
            "description": "alias",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": { "$ref": "#/definitions/SecurityToken" }
          },
          "401": {
            "description": "Unauthorized - Check security token or credentials"
          },
          "402": {
            "description": "Payment Required - The API has not been activated for the company or the call-limit is exceeded"
          },
          "403": {
            "description": "Forbidden - Not enough permissions for this call"
          },
          "404": { "description": "NotFound - Entity not found" },
          "422": {
            "description": "Unprocessable Entity - The given entity is not valid for that request"
          }
        },
        "security": [{ "security_token": [] }]
      }
    },
    "/alias/{alias}/protected/colors/search": {
      "post": {
        "tags": ["Colors"],
        "summary": "Get a list of colors",
        "description": "Get a list of colors by a search query, paging is used, specify limit and page; Model Type: Color is returned",
        "operationId": "searchColorsUsingPOST",
        "consumes": ["application/json"],
        "produces": ["application/json"],
        "parameters": [
          {
            "name": "alias",
            "in": "path",
            "description": "alias",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "searchQuery",
            "description": "searchQuery",
            "required": true,
            "schema": { "$ref": "#/definitions/ColorSearchQuery" }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": { "$ref": "#/definitions/ListResultWrapper«Color»" }
          },
          "401": {
            "description": "Unauthorized - Check security token or credentials"
          },
          "402": {
            "description": "Payment Required - The API has not been activated for the company or the call-limit is exceeded"
          },
          "403": {
            "description": "Forbidden - Not enough permissions for this call"
          },
          "404": { "description": "NotFound - Entity not found" },
          "422": {
            "description": "Unprocessable Entity - The given entity is not valid for that request"
          }
        },
        "security": [{ "security_token": [] }]
      }
    },
    "/alias/{alias}/protected/colors/{id}": {
      "get": {
        "tags": ["Colors"],
        "summary": "Get one specific color by id",
        "operationId": "getColorUsingGET",
        "produces": ["application/json"],
        "parameters": [
          {
            "name": "alias",
            "in": "path",
            "description": "alias",
            "required": true,
            "type": "string"
          },
          {
            "name": "id",
            "in": "path",
            "description": "id",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": { "$ref": "#/definitions/Color" }
          },
          "401": {
            "description": "Unauthorized - Check security token or credentials"
          },
          "402": {
            "description": "Payment Required - The API has not been activated for the company or the call-limit is exceeded"
          },
          "403": {
            "description": "Forbidden - Not enough permissions for this call"
          },
          "404": { "description": "NotFound - Entity not found" }
        },
        "security": [{ "security_token": [] }]
      }
    },
    "/alias/{alias}/protected/comments": {
      "post": {
        "tags": ["Comments"],
        "summary": "Create a new comment",
        "operationId": "createCommentUsingPOST",
        "consumes": ["application/json"],
        "produces": ["application/json"],
        "parameters": [
          {
            "name": "alias",
            "in": "path",
            "description": "alias",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "toSave",
            "description": "toSave",
            "required": true,
            "schema": { "$ref": "#/definitions/CommentToSave" }
          }
        ],
        "responses": {
          "201": {
            "description": "Created",
            "schema": { "$ref": "#/definitions/CreationResponse" }
          },
          "401": {
            "description": "Unauthorized - Check security token or credentials"
          },
          "402": {
            "description": "Payment Required - The API has not been activated for the company or the call-limit is exceeded"
          },
          "403": {
            "description": "Forbidden - Not enough permissions for this call"
          },
          "404": { "description": "NotFound - Entity not found" },
          "422": {
            "description": "Unprocessable Entity - The given entity is not valid for that request"
          }
        },
        "security": [{ "security_token": [] }]
      }
    },
    "/alias/{alias}/protected/comments/orderbyfields": {
      "get": {
        "tags": ["Comments"],
        "summary": "Get possible fields for orderby of comment fields",
        "operationId": "getCommentOrderByFieldsUsingGET",
        "produces": ["application/json"],
        "parameters": [
          {
            "name": "alias",
            "in": "path",
            "description": "alias",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": { "type": "array", "items": { "type": "string" } }
          },
          "401": {
            "description": "Unauthorized - Check security token or credentials"
          },
          "402": {
            "description": "Payment Required - The API has not been activated for the company or the call-limit is exceeded"
          },
          "403": {
            "description": "Forbidden - Not enough permissions for this call"
          },
          "404": { "description": "NotFound - Entity not found" }
        },
        "security": [{ "security_token": [] }]
      }
    },
    "/alias/{alias}/protected/comments/search": {
      "post": {
        "tags": ["Comments"],
        "summary": "Get a list of comments",
        "description": "Get a list of comments  by a search query, paging is used, specify limit and page; Model Type: Comment is returned",
        "operationId": "searchCommentsUsingPOST",
        "consumes": ["application/json"],
        "produces": ["application/json"],
        "parameters": [
          {
            "name": "alias",
            "in": "path",
            "description": "alias",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "commentSearchQuery",
            "description": "commentSearchQuery",
            "required": true,
            "schema": { "$ref": "#/definitions/CommentSearchQuery" }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": { "$ref": "#/definitions/ListResultWrapper«Comment»" }
          },
          "401": {
            "description": "Unauthorized - Check security token or credentials"
          },
          "402": {
            "description": "Payment Required - The API has not been activated for the company or the call-limit is exceeded"
          },
          "403": {
            "description": "Forbidden - Not enough permissions for this call"
          },
          "404": { "description": "NotFound - Entity not found" },
          "422": {
            "description": "Unprocessable Entity - The given entity is not valid for that request"
          }
        },
        "security": [{ "security_token": [] }]
      }
    },
    "/alias/{alias}/protected/comments/{id}": {
      "get": {
        "tags": ["Comments"],
        "summary": "Get one specific comment by id",
        "operationId": "getCommentUsingGET",
        "produces": ["application/json"],
        "parameters": [
          {
            "name": "alias",
            "in": "path",
            "description": "alias",
            "required": true,
            "type": "string"
          },
          {
            "name": "id",
            "in": "path",
            "description": "id",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": { "$ref": "#/definitions/Comment" }
          },
          "401": {
            "description": "Unauthorized - Check security token or credentials"
          },
          "402": {
            "description": "Payment Required - The API has not been activated for the company or the call-limit is exceeded"
          },
          "403": {
            "description": "Forbidden - Not enough permissions for this call"
          },
          "404": { "description": "NotFound - Entity not found" }
        },
        "security": [{ "security_token": [] }]
      },
      "delete": {
        "tags": ["Comments"],
        "summary": "Delete a comment with given id",
        "operationId": "deleteCommentUsingDELETE",
        "produces": ["application/json"],
        "parameters": [
          {
            "name": "alias",
            "in": "path",
            "description": "alias",
            "required": true,
            "type": "string"
          },
          {
            "name": "id",
            "in": "path",
            "description": "id",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": { "description": "OK" },
          "401": {
            "description": "Unauthorized - Check security token or credentials"
          },
          "402": {
            "description": "Payment Required - The API has not been activated for the company or the call-limit is exceeded"
          },
          "403": {
            "description": "Forbidden - Not enough permissions for this call"
          },
          "404": { "description": "NotFound - Entity not found" }
        },
        "security": [{ "security_token": [] }]
      },
      "patch": {
        "tags": ["Comments"],
        "summary": "Update comment with given id",
        "operationId": "updateCommentUsingPATCH",
        "consumes": ["application/json"],
        "produces": ["application/json"],
        "parameters": [
          {
            "name": "alias",
            "in": "path",
            "description": "alias",
            "required": true,
            "type": "string"
          },
          {
            "name": "id",
            "in": "path",
            "description": "id",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "toUpdate",
            "description": "toUpdate",
            "required": true,
            "schema": { "$ref": "#/definitions/CommentToSave" }
          }
        ],
        "responses": {
          "200": { "description": "OK" },
          "401": {
            "description": "Unauthorized - Check security token or credentials"
          },
          "402": {
            "description": "Payment Required - The API has not been activated for the company or the call-limit is exceeded"
          },
          "403": {
            "description": "Forbidden - Not enough permissions for this call"
          },
          "404": { "description": "NotFound - Entity not found" },
          "422": {
            "description": "Unprocessable Entity - The given entity is not valid for that request"
          }
        },
        "security": [{ "security_token": [] }]
      }
    },
    "/alias/{alias}/protected/companies/search": {
      "post": {
        "tags": ["Companies"],
        "summary": "Get a list of companies",
        "description": "Get a list of companies by a search query, paging is used, specify limit and page; Model Type: Company is returned",
        "operationId": "searchCompaniesUsingPOST",
        "consumes": ["application/json"],
        "produces": ["application/json"],
        "parameters": [
          {
            "name": "alias",
            "in": "path",
            "description": "alias",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "searchQuery",
            "description": "searchQuery",
            "required": true,
            "schema": { "$ref": "#/definitions/CompanySearchQuery" }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": { "$ref": "#/definitions/ListResultWrapper«Company»" }
          },
          "401": {
            "description": "Unauthorized - Check security token or credentials"
          },
          "402": {
            "description": "Payment Required - The API has not been activated for the company or the call-limit is exceeded"
          },
          "403": {
            "description": "Forbidden - Not enough permissions for this call"
          },
          "404": { "description": "NotFound - Entity not found" },
          "422": {
            "description": "Unprocessable Entity - The given entity is not valid for that request"
          }
        },
        "security": [{ "security_token": [] }]
      }
    },
    "/alias/{alias}/protected/companies/{id}": {
      "get": {
        "tags": ["Companies"],
        "summary": "Get one specific company by id",
        "operationId": "getCompanyUsingGET",
        "produces": ["application/json"],
        "parameters": [
          {
            "name": "alias",
            "in": "path",
            "description": "alias",
            "required": true,
            "type": "string"
          },
          {
            "name": "id",
            "in": "path",
            "description": "id",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": { "$ref": "#/definitions/Company" }
          },
          "401": {
            "description": "Unauthorized - Check security token or credentials"
          },
          "402": {
            "description": "Payment Required - The API has not been activated for the company or the call-limit is exceeded"
          },
          "403": {
            "description": "Forbidden - Not enough permissions for this call"
          },
          "404": { "description": "NotFound - Entity not found" }
        },
        "security": [{ "security_token": [] }]
      }
    },
    "/alias/{alias}/protected/contactlenses": {
      "post": {
        "tags": ["ContactLenses"],
        "summary": "Create a new contactlense process",
        "operationId": "createContactLenseUsingPOST",
        "consumes": ["application/json"],
        "produces": ["application/json"],
        "parameters": [
          {
            "name": "alias",
            "in": "path",
            "description": "alias",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "toSave",
            "description": "toSave",
            "required": true,
            "schema": { "$ref": "#/definitions/ContactLenseToSave" }
          }
        ],
        "responses": {
          "201": {
            "description": "Created",
            "schema": { "$ref": "#/definitions/CreationResponse" }
          },
          "401": {
            "description": "Unauthorized - Check security token or credentials"
          },
          "402": {
            "description": "Payment Required - The API has not been activated for the company or the call-limit is exceeded"
          },
          "403": {
            "description": "Forbidden - Not enough permissions for this call"
          },
          "404": { "description": "NotFound - Entity not found" },
          "422": {
            "description": "Unprocessable Entity - The given entity is not valid for that request"
          }
        },
        "security": [{ "security_token": [] }]
      }
    },
    "/alias/{alias}/protected/contactlenses/search": {
      "post": {
        "tags": ["ContactLenses"],
        "summary": "Get a list of contactlenses",
        "description": "Get a list of contactlenses  by a search query, paging is used, specify limit and page; Model Type: ContactLense is returned",
        "operationId": "searchContactLensesUsingPOST",
        "consumes": ["application/json"],
        "produces": ["application/json"],
        "parameters": [
          {
            "name": "alias",
            "in": "path",
            "description": "alias",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "contactlenseSearchQuery",
            "description": "contactlenseSearchQuery",
            "required": true,
            "schema": { "$ref": "#/definitions/ContactLenseSearchQuery" }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ListResultWrapper«ContactLense»"
            }
          },
          "401": {
            "description": "Unauthorized - Check security token or credentials"
          },
          "402": {
            "description": "Payment Required - The API has not been activated for the company or the call-limit is exceeded"
          },
          "403": {
            "description": "Forbidden - Not enough permissions for this call"
          },
          "404": { "description": "NotFound - Entity not found" },
          "422": {
[...]
